img {
border: 1px solid rgb(240, 240, 240);
  border-radius: 2px;
  padding: 4px;
  width: auto;
  height: 300;
  opacity: 0.8;
}
body{
    text-align: center;
    background-color: floralwhite;
}
.description{
    color:darkseagreen
}
li{
    text-indent: -40;
}
h1{
    color:darksalmon;
    font-weight: bold;
}
h2{
    color: darkseagreen;
}
h3{
    color:cadetblue
}
span{
    color: darksalmon;
}
h4{
    color: cadetblue;
}
.order{
    color:lightcoral;
    background-color: white;
    border-color: pink;
}
.payment{
    color: darkseagreen;
}
p{
    color: darksalmon;
}
h5{
    color: darkseagreen;
}
.nav{
    display:flex;
    justify-content: center;
}
.color{
    color:lightslategrey
}
.menuoptions{
    color: darkseagreen;
    font-style:italic;
}